VITE_APPS_SCRIPT_DEPLOYMENT_URL=
VITE_FUNNIFIN_CALENDAR_ID=c3ee95ee617eaacb9155f9c0deff2e226eb78f1c2ab2dca6a972523682928da1@group.calendar.google.com
VITE_EXPERTS_CALENDAR_IDS=
VITE_DRIVE_ROOT_FOLDER_ID=
VITE_SLIDES_TEMPLATE_FOLDER_ID=1KAI-xet3nfj15gv9fdRNS4Gg0DPI8tJG
VITE_CLIENT_MATERIALS_FOLDER_ID=
VITE_FINAL_DECKS_FOLDER_ID=
VITE_SLIDE_MASTER_BUDGET_STEP=
VITE_SLIDE_MASTER_FONDO_EMERGENZA=
VITE_SLIDE_MASTER_LIQUIDITA_CONTO=
VITE_SLIDE_MASTER_MUTUI_PRESTITI=
VITE_SLIDE_MASTER_PAC_ETF=
VITE_SLIDE_MASTER_ABC_INVESTIMENTI=
VITE_SLIDE_MASTER_TFR_PREVIDENZA=
VITE_SLIDE_MASTER_BONUS_DETRAZIONI=
VITE_SLIDE_MASTER_LEGGE_BILANCIO=
VITE_SLIDE_MASTER_GENITORIALITA=
VITE_SLIDE_MASTER_AMORE_SOLDI=
VITE_SLIDE_MASTER_MERENDA_FINANZIARIA=
